@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: Arial, Helvetica, sans-serif;
}

/* TODO set accent and accent-foreground colors */

@layer base {
	:root {
		--background: 214 22% 95%;
		--background-dark: 214 11% 90%;
		--background-light: 214 100% 100%;
		--foreground: 214 29% 5%;
		--primary: 213 62% 30%;
		--primary-foreground: 214 47% 95%;
		--secondary: 40 100% 16%;
		--secondary-foreground: 214 47% 95%;
		--muted: 214 6% 28%;
		--muted-foreground: 214 7% 70%;
		--accent: 214 100% 100%;
		--accent-foreground: 214 5% 39%;
		--border: 214 4% 51%;
		--border-muted: 214 5% 63%;

		--card: 0 0% 100%;
		--card-foreground: 0 0% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 0 0% 3.9%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--input: 0 0% 89.8%;
		--ring: 0 0% 3.9%;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 227, 17%, 10%;
		--background-dark: 210, 10%, 23%;
		--background-light: 216 24% 1%;
		--foreground: 214 47% 95%;
		--primary: 214 78% 73%;
		--primary-foreground: 214 29% 5%;
		--secondary: 35 58% 62%;
		--secondary-foreground: 214 29% 5%;
		--muted: 214 7% 70%;
		--muted-foreground: 214 6% 28%;
		--accent: 214 5% 39%;
		--accent-foreground: 214 100% 100%;
		--border: 214 6% 28%;
		--border-muted: 214 9% 18%;

		--card: 0 0% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 0 0% 3.9%;
		--popover-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--input: 0 0% 14.9%;
		--ring: 0 0% 83.1%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
		--chart-5: 340 75% 55%;
	}

	.container {
		padding: 0 0.5rem;

		@media screen and (min-width: 768px) {
			padding: 0 1rem;
		}

		@media screen and (min-width: 1024px) {
			padding: 0 2rem;
		}
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

/* example custom class styles */
/* @layer components {
  .btn-primary {
    @apply px-4 py-2 bg-primary text-primary-foreground rounded-md hover:bg-primary-dark;
  }

  .card-highlight {
    @apply bg-background-light dark:bg-background-dark p-6 rounded-lg shadow-md;
  }
} */
